<h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
<!-- form action=>
  提交表單時，要發送數據以進行處理的資源/ URL。
  如果未設置（或設置為空字符串），
  則表單將提交回當前頁面 URL -->
</form>